/* Possibly add bg-library image with opacity of .4 to background */

.App {
  text-align: center;
}

.navbar-brand>.fa-react {
  color: #61dafb;
  font-size: .8rem;
}

.fa-react.text-danger {
  animation: spin-clockwise infinite 10s linear;
}

.fa-react.text-warning {
  animation: spin-counter-clock infinite 10s linear;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes spin-clockwise {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes spin-counter-clock {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}